<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Login</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/hrlogin.css')}}">
</head>
<body >
        <form action="/hrlogin" method="POST">
               <div class="us"> 
                   <h1 id="ahe1">HR Login</h1>  
                   <br>
                    <label for="Username">Username:</label>
                    <input name="Username"  id="Username" type="text" placeholder="Username">
                    <br>
                    <label for="Password">Password:</label>
                    <input name="Password"  id="Password" type="password" placeholder="Password">
                    <br>
                    <br>
                   <button id="btn1" type="submit" class="btn btn-md btn-success" >Login as HR</button>
                   <br>
                   {{msg}}
                </div>
            </form>

                

                   
</body>
</html>